<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<% if user_signed_in? %>
	<h2>Comments</h2>
	<%= render @article.comments %>
	 
	<h2>Add a comment:</h2>
	<%= render 'comments/form' %>

	<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %> | 
	
<% end %>
	<%= link_to 'Back', articles_path %> 