<!DOCTYPE html>
<html>
  <head>
    <title>GemDevise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <% if !user_signed_in? %>
      <button class="sign_in"><%= link_to "Login", new_user_session_path %></button>
    <% else user_signed_in? %>
      <div class="buttons">
        <button class="button"><%= link_to "New Article", new_article_path %></button>
        <button class="button"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></button>
      </div>
    <% end  %>

    
       <p class="alert"><%= alert %></p>

    <%= yield %>
    </div>
  </body>
</html>
